:root {
  --color-primary: #3C6473;
  --color-black-background: #333333;
  --color-white-background: #F7F7F7;
  --color-header-background: #FFFFFF;
  --color-black-button: #000000;
  --color-gray-button-shade: #747474;
  --color-black-text: #313131;
  --color-white-text: #E8E8E8;
  --color-gray-text: #9B9B9B;

  --font-heading: 'Sanchez', serif;
  --font-body: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 2.6rem;
  line-height: 1.5;
}

.footnote {
  font-size: 0.9rem;
  color: var(--color-gray-text);
  font-weight: bold;
}

.hint {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.9rem;
}

a.button {
  text-decoration: none;
  font-family: var(--font-heading);
  display: inline-block;
  margin: 1.5rem 0;
  padding: 1rem 3rem;
  font-size: 1.6rem;

  &.primary {
    background-color: var(--color-black-button);
    color: var(--color-white-text);
    border-block-end: 4px solid var(--color-gray-button-shade);
  }

  &.secondary {
    background-color: var(--color-primary);
    color: var(--color-white-text);
    border-block-end: 4px solid #262D2F;
    font-size: 1.4rem;
    padding: 1rem 6rem;
  }
}
