@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  width: min(100%, 1080px);
  flex-grow: 1;
  padding: 0 clamp(0, calc((100% - 1080px) / 2), 20%);
}

main {
  flex-grow: 1;
  padding: 1rem;
}
